.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.closeButton {
	cursor: pointer;
	color: var(--neutral-500);
}

.closeButton:hover {
	color: var(--neutral-800);
}

.dark .closeButton:hover {
	color: var(--neutral-200);
}

.footer {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
	padding-top: 0.5rem;
}

.footerButton {
	color: black;
	padding: 0.375rem 0.75rem;
	border-radius: 0.375rem;
	border: 1px solid var(--neutral-300);
	font-size: 0.875rem;
}

.footerButton:hover {
	background-color: var(--neutral-100);
}

.dark .footerButton {
	color: var(--primary-foreground);
	border-color: var(--neutral-600);
}

.dark .footerButton:hover {
	background-color: var(--neutral-800);
}
