.button {
	margin-bottom: 1rem;
}

.successMessage {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: var(--success-background);
	border: 1px solid var(--success);
	color: var(--success-background-foreground);
	border-radius: 0.25rem;
}

.errorMessage {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: var(--error-background);
	border: 1px solid var(--error);
	color: var(--error-background-foreground);
	border-radius: 0.25rem;
}
