.navWrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.nav {
	padding: 1.5rem 1rem;
	max-width: 60rem;
	margin: 0 auto;
}

.navButtonActive {
	background-color: var(--primary-alpha);
}

.navButtonSpacing {
	margin-right: 1rem;
}
