.navWrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.nav {
	padding: 1.5rem 1rem;
	max-width: 60rem;
	margin: 0 auto;

	& button {
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
		transition:
			box-shadow 200ms ease-out,
			rotate 200ms ease-out,
			background-color 0.15s ease;

		&:hover {
			box-shadow: 0px 0px 25px 0px var(--green-500);
		}
	}
}

.navButtonActive {
	background-color: var(--primary-alpha);
}

.navButtonSpacing {
	margin-right: 1rem;
}

.settings {
	rotate: -10deg;
}

.settings:hover {
	rotate: 10deg;
}
