/* Table wrapper */
.tableWrapper {
	border-radius: 0.5rem;
	border: 1px solid rgb(229 231 235);
	overflow: hidden;
}

/* Table */
.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

/* THead */
.thead {
	background-color: rgb(249 250 251);
}

/* TBody */
.tbody {
	background-color: white;
}

.tbody > tr {
	border-bottom: 1px solid rgb(229 231 235);
}

/* TH */
.th {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-align: left;
	color: black;
	font-weight: 500;
}

/* TD */
.td {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	color: black;
}
