.dialog {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.header {
	width: 100%;
}

.timesheetsSection {
	margin-bottom: 1.5rem;
}

.timesheetsHeading {
	margin-top: 2rem;
	margin-bottom: 1rem;
}
