.form {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.label {
	display: block;
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--neutral-500);
}

.dark .label {
	color: var(--neutral-400);
}

.inputGroup {
	display: flex;
	gap: 0.5rem;
}

.input {
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid var(--neutral-300);
	background-color: white;
	color: black;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
}

.dark .input {
	border-color: var(--neutral-600);
	background-color: var(--neutral-800);
	color: var(--primary-foreground);
}

.submitButton {
	padding: 0.375rem 0.75rem;
	border-radius: 0.375rem;
	color: var(--primary-foreground);
	font-size: 0.875rem;
	background-color: rgb(37, 99, 235);
}

.submitButton:hover {
	background-color: rgb(59, 130, 246);
}

.submitButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.submitButtonSuccess {
	padding: 0.375rem 0.75rem;
	border-radius: 0.375rem;
	color: var(--primary-foreground);
	font-size: 0.875rem;
	background-color: rgb(5, 150, 105);
}

.submitButtonSuccess:hover {
	background-color: rgb(16, 185, 129);
}

.submitButtonSuccess:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.error {
	font-size: 0.75rem;
	color: rgb(220, 38, 38);
}

.dark .error {
	color: rgb(252, 165, 165);
}
