@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: rgba(7, 24, 20, 1);
	--muted: #f1f5f9;
	--muted-foreground: #64748b;
	--primary: #2563eb;
	--primary-foreground: #ffffff;
	--secondary: #f1f5f9;
	--secondary-foreground: #0f172a;
	--accent: #f1f5f9;
	--accent-foreground: #0f172a;
	--border: #e2e8f0;
	--input: #e2e8f0;
	--ring: #2563eb;
	--card: #ffffff;
	--card-foreground: #171717;
	--popover: #ffffff;
	--popover-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: rgba(7, 24, 20, 1);
		--foreground: rgba(239, 254, 247, 1);
		--muted: #1e293b;
		--muted-foreground: #94a3b8;
		--primary: rgba(14, 50, 50, 1);
		--primary-foreground: #ffffff;
		--secondary: #1e293b;
		--secondary-foreground: #f8fafc;
		--accent: #1e293b;
		--accent-foreground: #f8fafc;
		--border: #334155;
		--input: #334155;
		--card: #0a0a0a;
		--card-foreground: #ededed;
		--popover: #0a0a0a;
		--popover-foreground: #ededed;
	}
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
}

html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}
