/* Spinner animation */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	animation: spin 1s linear infinite;
}

.circle {
	opacity: 0.25;
}

.path {
	opacity: 0.75;
}
