/* Base input styles */
.input {
	height: 2.5rem;
	border-radius: 0.375rem;
	border: 1px solid rgb(226 232 240);
	background-color: white;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: rgb(15 23 42);
}

.input::placeholder {
	color: rgb(100 116 139);
}

.input:focus-visible {
	outline: 2px solid transparent;
	outline-offset: 2px;
	box-shadow:
		0 0 0 2px white,
		0 0 0 4px rgb(2 6 23);
}

.input:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.input:read-only {
	opacity: 0.75;
}
