.container {
	& svg {
		color: inherit;
	}
}

.buttonGroup {
	margin-bottom: 1rem;
}

.successMessage {
	padding: 0.75rem;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	background-color: var(--success-background);
	color: var(--success-background-foreground);
}

.errorMessage {
	padding: 0.75rem;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	background-color: var(--error-background);
	color: var(--error-background-foreground);
}
