.wrapper {
	background-color: var(--background);
	color: var(--foreground);
	min-height: 100vh;
}

.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6rem;
	position: relative;
}
