.main {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
	max-width: 50rem;
	margin: auto;
}

@media (min-width: 768px) {
	.main {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.section {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.h1 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	color: var(--foreground);
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.h2 {
	font-size: 1.875rem;
	line-height: 2.25rem;
	color: var(--foreground);
	font-weight: 700;
	margin-bottom: 1rem;
}

.h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--foreground);
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.p {
	margin-bottom: 1rem;
	color: var(--foreground);
}

.label {
	color: var(--foreground);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1;
}

.labelDisabled {
	cursor: not-allowed;
	opacity: 0.7;
}
