.card {
	transition: color 0.3s, background-color 0.3s, border-color 0.3s;
	border-radius: 0.5rem;
	border: 1px solid var(--border);
	background-color: var(--card);
	color: var(--card-foreground);
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.card:hover {
	border-color: var(--border);
}

.cardHeader {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	padding: 1.5rem;
}

.cardContent {
	padding: 1.5rem;
	padding-top: 0;
}

.cardFooter {
	display: flex;
	align-items: center;
	padding: 1.5rem;
	padding-top: 0;
}
